.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  .popup-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    width: 90%;
    max-width: 450px;
  
  }
  button.close-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: red;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: 12px;
  }
  
  button.close-button:hover,
  button.close-button:focus,
  button.close-button:active {
    background-color: transparent;
    outline: none;
  }
  