.vcp-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .vcp-content {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
  }
  
  .vcp-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
  }
  /* Card container */
.app .card-container{
    transform:translatex(22px) translatey(61px) !important;
   }
   
/* Card container */
.app .card-container{
    transform:translatex(22px) translatey(61px) !important;
   }
   
   /* Card body */
   .app .card-body{
    transform:translatex(5px) translatey(-21.9999942779541px);
   }
   
/* Card container */
.app .card-container{
    transform:translatex(22px) translatey(61px) !important;
   }
   
   /* Card body */
   .app .card-body{
    transform:translatex(5px) translatey(-21.9999942779541px);
   }
   
   /* Form Division */
   .app .card-body form{
    height:414px;
   }
   
/* Card container */
.app .card-container{
    transform:translatex(22px) translatey(61px) !important;
   }
   
   /* Card body */
   .app .card-body{
    transform:translatex(5px) translatey(-21.9999942779541px);
   }
   
   /* Form Division */
   .app .card-body form{
    height:414px;
   }
   
   /* Container */
   .app .container{
    position:relative;
    top:12px;
    transform:translatex(5px) translatey(-21.9999942779541px);
   }
   
   /* Verification container */
   .app .verification-container{
    top:-23px;
   }
   
   @media (min-width:769px){
   
    /* Container */
    .app .container{
     padding-top:32px;
    }
    
   }    
   /* Card body */
.app .card-body{
    transform:translatex(5px) translatey(-21.9999942779541px);
   }
   
   /* Card container */
   .app .card-container{
    transform:translatex(34px) translatey(91px) !important;
   }
   
   /* Form Division */
   .app .card-body form{
    height:414px;
   }
   
   /* Container */
   .app .container{
    position:relative;
    top:12px;
    transform:translatex(5px) translatey(-21.9999942779541px);
   }
   
   /* Verification container */
   .app .verification-container{
    top:-23px;
    transform:translatex(5px) translatey(-21.9999942779541px);
   }
   
   @media (min-width:769px){
   
    /* Container */
    .app .container{
     padding-top:32px;
    }
    
   }     